/*
.home {
  color: #5841e0;
  font-family: "Century Gothic", sans-serif;
  padding: 20px;
  text-align: center;
  margin: auto;
  position: relative;
  width: 225px;
  height: 50px;
  style: inline;
  box-sizing: border-box;
  display: inline-block;
}

.Youtube {
  color: #5841e0;
  font-family: "Century Gothic", sans-serif;
  padding: 20px;
  text-align: center;
  margin: auto;
  position: relative;
  width: 275px;
  height: 50px;
  style: inline;
  box-sizing: border-box;
  display: inline-block;
}

nav {
  position: fixed;
  color: #aea6dd;
}
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #5841e0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #A9A9A9;
}
