.home {
  color: #5841e0;
  font-family: "Century Gothic", sans-serif;
  border: 10px;
  padding: 20px;
}

.Youtube {
  color: #5841e0;
  font-family: "Century Gothic", sans-serif;
  border: 10px;
  padding: 20px;
}
